@model LandingPageViewModel
@{
  Layout = "_NoHeading";

  ViewData["Title"] = "Profile";
  ViewData["HideHomeLogo"] = true;
}

@section Head {
  <link rel="canonical" href="@(ProductionUrl)" />
}

<div class="profile-row row gx-4 gx-lg-5 justify-content-center">
  <div class="profile-right col-md-9 col-lg-9 col-xl-9">
    <h1>Hi... I'm <span class="highlight">Gordon Beeming</span>.</h1>
    <partial name="_Bio" />

    <h2>Recent Blog Posts</h2>
    <div class="recent-blog-posts">
      @foreach (var post in Model.RecentPosts)
      {
        <p>
          <a asp-area="@(BlogArea)" asp-controller="ViewPost" asp-action="Index" asp-route-slug="@(post.Slug)">@(post.Title)</a>
          @if (post.Tags.Count > 0)
          {
            <br>
            foreach (var tag in post.Tags)
            {
              <text>@(tag.Name)</text>
              @if (tag != post.Tags.Last())
              {
                <text>, </text>
              }
            }
          }
        </p>
      }
      <p>
        👀 <a asp-area="@(BlogArea)" asp-controller="Home" asp-action="Index">View more posts...</a>
      </p>
    </div>

    <h2>Social Media</h2>
    <div class="icons-social">
      <a title='LinkedIn (gordon-beeming)' target="_blank" href="https://www.linkedin.com/in/gordon-beeming" rel="nofollow"><img src="images/linkedin.svg" border="0" /></a>
      <a title='Twitter (GordonBeeming)' target="_blank" href="https://twitter.com/GordonBeeming" rel="nofollow"><img src="images/twitter.svg" border="0" /></a>
      <a title='youtube' target="_blank" href="https://www.youtube.com/@@gordonbeeming" rel="nofollow"><img src="images/youtube.svg" border="0" /></a>
      <a title='GitHub (gordonbeeming)' target="_blank" href="https://github.com/gordonbeeming" rel="nofollow"><img src="images/github-mark.svg" border="0" /></a>
      <a title='stackoverflow' target="_blank" href="https://stackoverflow.com/story/gordon-beeming" rel="nofollow"><img src="images/stackoverflow.svg" border="0" /></a>
      <a title='Unsplash (@@gordonbeeming)' target="_blank" href="https://unsplash.com/@@gordonbeeming" rel="nofollow"><img src="images/Unsplash.svg" border="0" /></a>
      <a title='Strava (gordon-beeming)' target="_blank" href="https://www.strava.com/athletes/gordon-beeming" rel="nofollow"><img src="images/strava.svg" border="0" /></a>
    </div>

    <h2>Books</h2>
    <div class="books">
      <table cellspacing="0" cellpadding="20">
        <tr>
          <td>
            <a title="Managing Agile Open-Source Software Projects with Visual Studio Online" href="https://www.microsoftpressstore.com/store/managing-agile-open-source-software-projects-with-visual-9781509300648">
              <img src="images/book-03.png" alt="Managing Agile Open-Source Software Projects with Visual Studio Online" border="0" />
            </a>
          </td>
          <td>
            <a title="Team Foundation Server 2015 Customization" href="https://www.amazon.com/Team-Foundation-Server-2015-Customization-ebook/dp/B014JH154E/ref=sr_1_1?dchild=1&qid=1601298839&refinements=p_27%3AGordon+Beeming&s=digital-text&sr=1-1&text=Gordon+Beeming">
              <img src="images/book-02.png" alt="Team Foundation Server 2015 Customization" border="0" />
            </a>
          </td>
          <td>
            <a title="Team Foundation Server 2013 Customization" href="https://www.amazon.com/Team-Foundation-Server-2013-Customization/dp/1782177140/ref=sr_1_2?dchild=1&qid=1601298839&refinements=p_27%3AGordon+Beeming&s=digital-text&sr=1-2&text=Gordon+Beeming">
              <img src="images/book-01.png" alt="Team Foundation Server 2013 Customization" border="0" />
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="profile-left col-md-3 col-lg-3 col-xl-3">
    <div class="profile-image">
      <img src="~/images/profile.jpg" />
    </div>
  </div>
</div>